@model test.Models.Employee

@{
    ViewBag.Title = "Employee Details";
}
<h2>Details</h2>
<table style="font-family: Arial, Helvetica, sans-serif">
    <tr>
        <td>Name</td>
        <td>id</td>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.id</td>
    </tr>
</table>