@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div>
    EmployeeId: @ViewBag.EmployeeId
</div>

<div>
    EmployeeName @ViewBag.EmployeeName
</div>

<div>
    EmployeeAge: @ViewBag.EmployeeAge
</div>